#racket-booking-form {
  height: 300px;
  position: sticky;
  top: 50px;
}

#raquet-info {
  width: 530px;
}

#raquet-info h5 {
  font-weight: bold;
}

#raquet-info h5 a {
  font-size: 16px;
  font-style: italic;
}


.racket-show-image {
  object-fit: contain !important;
  height: 200px;
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.price-tag {
  color: #E4CE37;
}

#description-tag {
  opacity: 0.7;
}

.racket-description-container {
  width: 775px;
}

.zoom {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
/**adjust scale to desired size,
add browser prefixes**/
  -ms-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
  position:relative;
  z-index:100;
}
