#racket-booking-form {
  height: 300px;
  position: sticky;
  top: 50px;
}

#raquet-info {
  width: 530px;
}

#raquet-info h5 {
  font-weight: bold;
}

.racket-show-image {
  object-fit: contain !important;
  height: 200px;
  width: 200px;
}

.price-tag {
  color: #E4CE37;
}

#description-tag {
  opacity: 0.7;
}
