<div class="footer mt-5">
  <div class="footer-links">
  <a href="https://www.lewagon.com/" target="blank"> batch-400 <i class="fas fa-heart"></i></a>
  </div>

  <div class="footer-copyright">
      <a href="#"> <i class="far fa-copyright"></i> AMA, 2020</a>🎾
  </div>
</div>
