<div class="container">
  <h1>All rackets</h1>
  <div class="row justify-content-center">
      <div class="card-racket-container">
        <% @rackets.each do |racket| %>
          <div class="card-racket">
            <%= cl_image_tag racket.photo.key, crop: :fill, alt: "alttext" %>
            <div class="card-racket-infos">
              <div>
                <h2><%= racket.model %></h2>
                <p><i class="fas fa-map-marker-alt"></i> <%= racket.location %></p>
                <h2 class="card-racket-pricing"><%= racket.price %>€</h2>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


