.card-booking {
  overflow: hidden;
  height: 210px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 1px solid #c5bdbd;
  border-radius: 10px;
}

.card-booking img {
  height: 180px;
  width: 170px;
  object-fit: contain !important;
  margin-left: 8px;
  border-radius: 10%;
}

.card-booking-infos {
  padding: 16px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

#b-confirmed {
  border: solid 1px gray;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 15px;
  background-color: rgba(174, 221, 97, 0.4);
  width: 502px;
}

#wait-confirm {
  border: solid 1px gray;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 15px;
  background-color: rgba(255, 143, 106, 0.4);
  width: 502px;
}

.btn-success {
  color: white;
}

.btn-danger {
  opacity: 0.7;
  &:hover {
  opacity: 1;
  }
}

.swal-footer {
  text-align: center;
}
