.card-racket-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-racket {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 300px;
  width: 300px;
  border-radius: 10px;
  position: relative;
}

.card-racket > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding: 13px;
}

.card-racket h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 10px 15px;
  height: 2em;
}

.card-racket p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-racket .fa {
  font-size: 15px;
  opacity: 0.5;
  color: black;
}

.card-racket .card-racket-infos {
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

// .card-racket-infos .card-racket-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

.cloudinary-image {
  object-fit: contain !important;
}

// .image-symbols {
//   position: absolute;
// }

.symbols {
  position: absolute;
  top: 0;
  right: 18px;
}


