.footer {
  background: #003A5D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  padding: 0px 50px;
  color:white;
  position: absolute;
  bottom: 0;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #F4F4F4;
  opacity: 0.3;
  text-decoration: none;
  font-size: 15px;
  padding: 0px 10px;
}

.footer-copyright a {
  color: white;
  opacity: 0.9;
  text-decoration: none;
  font-size: 15px;
  padding: 0px 10px;
  font-style: italic;
}

.footer-links a:hover {
  cursor: pointer;
  opacity: 1;
}
.footer .fa-heart:hover {
  color: red;
  cursor: pointer;
  opacity: 1;
  transition: 1s;
}

.footer .fa-copyright {
  color: rgb(79, 89, 99);
}

.footer .fa-copyright:hover {
  color: white;
  cursor: pointer;
  opacity: 1;
  transition: 1s;
}

.custom-container {
  // height: calc(100vh - 151px);
  position: relative;
  min-height: 100vh;
  padding-bottom: 90px;
}

body, html {
  height: 100%;
  position: relative;
}
