.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#add-button {
  background-color: #93E061;
  border-color: #93E061;
}

.left-side {
  display: flex;
  align-items: flex-end;
}
