.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color:#003A5D;
  opacity: 1;
}