<div class="container">
    <div class="text-center m-4">
      <h1>Add a review to the racket</h1>
    </div>
      <%= simple_form_for [@racket, @review] do |f| %>
        <%= f.input :content, label: "What did you think about the racket?" %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit "Send your review" %>
      <% end %>
  </div>
</div>
